header{
	margin-top: 2%;
	margin-right: 1%;
	text-align: right;
}
a{
	text-decoration: none;
	border:solid;
	padding: 1%;

}
section{
	float: none;
	margin-left: 20%;
}
img{
	padding: 1%;
	height: 300px;
	width: 250px;
}


#img1:hover{
	opacity: 0.5;
	
}
